.container #interativo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.chatBox {
    background-image: url(../images/background/stoneBg.png);
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    overflow-y: auto;
    color: #aaa;
    justify-content: flex-end;
}

.container #interativo .messageContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 160px;
    background-image: url(../images/background/footerBg.png);
    padding: 0 20px
}

.container #interativo .messageContent button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    border-radius: 5px;
    height: 55px;
    margin: 0 0 0 20px;
}

.messageUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
    width: 100%;
}

.messageUserOwner {
    justify-content: flex-end;
}

.messageUser img {
    width: 60px;
    height: 60px;
    margin: 15px;
    border: 4px solid black;
    background-color: #111;
    border-radius: 5px;
}

.messageUser .messageBox {
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 50%;
}

.messageBox .messageData {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.messageBox .messageData span {
    font-size: 20px;
    color: #aaa
}

.messageUser .messageBox .messageData #nick {
    font-size: 35px;
    margin-right: 10px;
}

.messageUser .messageBox .messageData .others {
    color: #14ddeb;
}

.messageUser .messageBox .messageData .owner {
    color: #48d348
}

#messageId {
    font-size: 30px;
}

.container .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.container .top button {
    width: 50px;
    height: 50px;
}