.homeIntroduction {
    background-color: #000;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background/headerBg.png);
}

.homeIntroduction img {
    width: 500px;
    height: 500px;
}

.homeIntroduction .moon {
    position: absolute;
    top: 160px;
    right: 100px;
    width: 160px;
    height: 160px;
}

.section {
    width: 90vw;
    border: 6px solid black;
    background-image: url(../images/background/stoneBg.png);
    padding: 20px;
}

.section .subtitle {
    text-align: center;
}

#termo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aviso {
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.aviso a {
    margin-left: 10px;
    color: #48d348;
}

.aviso a:hover {
    color: #14ddeb
}

.graphicsTermo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    width: 100%;
    text-align: center;
}

.meio {
    border-bottom: 7px white dashed;
    border-top: 7px white dashed;
}

.boxQuizGraphic {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.boxQuizGraphic .graphicsQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed white;
    width: 800px;
    height: 450px;
}

.avisoQuiz {
    flex-direction: column;
    margin: 20px;
    text-align: center;
    margin: 0;
}