.content .container .section .box {
    display: flex;
    flex-direction: row;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game #letters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.game #letters .inputsLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}

.game #letters input {
    width: 70px;
    height: 70px;
    border: 2px black solid;
    font-family: pixel-font;
    font-size: 60px;
    padding: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.game #keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-image: url(../images/background/stoneBg.png);
    border: 5px solid black;
    padding: 20px;
    width: 80%;
    margin: 30px;
}

.game #keyboard .kbLine {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.game #keyboard .kbLine button {
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0;
}

#resultado {
    margin: 30px 0;
    background-image: url(../images/background/stoneBg.png);
    border: 5px solid black;
    width: 100%;
    padding: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graficos { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.graficos section {
    display: flex;
    justify-content: center;
}

#classificacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
}

.classificacaoCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
}

.classificacaoCard .trophy {
    display: flex;
    width: 55px;
    height: 55px;
    color: white;
    margin-right: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.classificacaoCard .classificacaoData {
    display: flex;
    flex-direction: column;
}

.classificacaoCard .classificacaoData span {
    color: white;
    font-size: 30px;
}

p a {
  color: #48d348
}

p a:hover {
    color: #14ddeb;
}

.interativo_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}