.homeIntroduction {
    background-color: #000;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 6px #000 solid; */
    background-image: url(../images/background/headerBg.png);
}

.homeIntroduction img {
    width: 500px;
    height: 500px;
}

.homeIntroduction .moon {
    position: absolute;
    top: 160px;
    right: 100px;
    width: 160px;
    height: 160px;
}